@import '../core';

.cookies {
  position: fixed;
  right: -500px;
  bottom: 40px;
  padding: 0;
  border-radius: 43px;
  background: $color-background-primary;
  width: 375px;
  opacity: 0;
  z-index: 2000;
  transition: all .5s ease;
  -webkit-filter: drop-shadow(rgba(53, 53, 53, .3) 0 0 5px);
  filter: drop-shadow(rgba(53, 53, 53, .3) 0 0 5px);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -12px;
    left: -18px;
    width: 72px;
    height: 68px;
    background: transparent url(/src/assets/images/cookies.png) no-repeat 0 0;
    background-size: 72px 68px;
  }

  &.show {
    right: 40px;
    opacity: 1;
  }
}

.cookies-inner {
  position: relative;
  float: left;
  padding: 15px 75px 15px 60px;
  width: 100%;
  height: 100%;
  color: $color-font-secondary;
  font-family: "Volte Medium",sans-serif;

  h3 {
    margin-bottom: 5px;
    font-size: 14px;
  }

  p {
    font-size: 10px;
  }

  .close {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: color .2s ease;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: $color-button-secondary;
    text-shadow: 0 1px 0 $color-background-primary;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .cookies {
    width: 175px;
    border-radius: 50%;
    &:before {
      top: -15px;
      left: 50%;
      -webkit-transform: translateX(-34px);
      transform: translateX(-34px);
    }
  }
  .cookies-inner {
    padding: 60px 15px 30px;
    .close {
      top: -40px;
      right: 0;
      width: 36px;
      height: 36px;
      background-color: $color-background-primary;
      background-position: center -147px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 576px) {
  .cookies {
    transform: scale(0.8);
    bottom: -5px;

    &.show {
      right: -5px;
    }
  }
}

