@import "../core";

.header-intro,
.header-intro-secondary {
  background-color: #353535;
}

.header-intro,
.header-intro-optional,
.header-intro-secondary {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-intro {
  height: 100vh;

  h1 {
    line-height: 1.2;
    color: $color-font-primary;
    text-align: center;
    margin-bottom: 50px;
  }

  p {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    line-height: 1.2;
    color: $color-font-primary;
    text-align: center;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0;
  }

  .bg-1,
  .bg-2,
  .bg-3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease;
  }
}
.background-1 {
  .bg-1 {
    opacity: 1;
  }
  .bg-3 {
    opacity: 0;
  }
}
.background-2 {
  .bg-2 {
    opacity: 1;
  }
  .bg-1 {
    opacity: 0;
  }
}
.background-3 {
  .bg-3 {
    opacity: 1;
  }
  .bg-2 {
    opacity: 0;
  }
}

.header-intro-secondary:before,
.header-intro:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.btn-scroll-more {
  cursor: pointer;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 50px;
  font-family: Volte-Semibold, sans-serif;
  font-size: 21px;
  line-height: 1.2;
  color: $color-font-primary;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.btn-scroll-more:before {
  content: "\e900";
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -19px;
  width: 38px;
  height: 38px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: no-repeat center center;
  font-family: speednet;
  font-size: 24px;
  line-height: 1;
  -webkit-animation: scrollArrow 1.5s infinite linear;
  animation: scrollArrow 1.5s infinite linear;
}
@keyframes scrollArrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.tile-number-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 -15px 70px;
}

.tile-project,
.tile-number {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: -webkit-transform 0.5s linear, opacity 0.5s linear;
  transition: transform 0.5s linear, opacity 0.5s linear;

  h3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    font-family: "Volte Medium", sans-serif;
    color: $color-font-secondary;
    text-align: center;
  }
  figure {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p {
    font-size: 18px !important;
    line-height: calc(25 / 18) !important;
    letter-spacing: -0.3px !important;
    color: $color-font-tertiary !important;
    text-align: center;
  }
}
.tile-project {
  max-width: 240px;

  h3 {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.4px;
  }
  figure {
    margin-bottom: 20px;
    width: 100%;
    height: 160px;
  }
}
.tile-number {
  h3 {
    font-size: 32px;
    line-height: 25px;
    letter-spacing: -1.2px;
  }
  figure {
    margin-bottom: 30px;
    width: 100%;
    height: 100px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
  p {
    width: 100%;
    letter-spacing: -0.45px;
  }
}

.button-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px;
}

.btn-primary {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 25px;
  min-width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: $color-button;
  font-family: "Volte Medium", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: $color-font-primary;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.btn-primary:hover {
  background-color: $color-button-hover;
}

.typed-cursor {
  -webkit-animation: blinkTypedCursor 0.8s infinite linear;
  animation: blinkTypedCursor 0.8s infinite linear;
}
@keyframes blinkTypedCursor {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1280px) {
  .btn-scroll-more {
    bottom: 70px;
    font-size: 27px;
  }

  .tile-project {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    transition: -webkit-transform 0.5s linear, opacity 0.5s linear;
    transition: transform 0.5s linear, opacity 0.5s linear;

    h3 {
      margin-bottom: 50px;
      min-height: 66px;
    }
    figure {
      margin-bottom: 30px;
    }
    p {
      font-size: 18px !important;
    }
  }

  [class^=col-]:nth-child(1) .tile-project.hide-onload {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  [class^=col-]:nth-child(2) .tile-project.hide-onload {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  [class^=col-]:nth-child(3) .tile-project.hide-onload {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0;
  }

  .tile-number {
    max-width: 20%;

    h3 {
      margin-bottom: 30px;
      font-size: 48px;
    }
  }

  .tile-number.hide-onload:nth-child(1) {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  .tile-number.hide-onload:nth-child(2) {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  .tile-number.hide-onload:nth-child(3) {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0;
  }
  .tile-number.hide-onload:nth-child(4) {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  .tile-number.hide-onload:nth-child(5) {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  .btn-primary {
    min-width: 300px;
  }
}
