@import 'core';

body {
  margin: 0;
}

* {
  box-sizing: border-box;

  h1 {
    font-family: Volte-Semibold, sans-serif;
    font-size: 60px;
    font-weight: 400;
  }

  h2 {
    font-family: "Volte Regular", sans-serif;
    font-size: 48px;
  }

  h3 {
    font-family: "Volte Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
  }

  //p {
  //  font-family: "Volte Regular", sans-serif;
  //  font-size: 30px;
  //}

  a, p {
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Volte Regular",sans-serif;
    vertical-align: baseline;
    outline: 0;
  }

  img {
    border-style: none;
  }

  footer {
    display: block;
  }
}

[class^=col-] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
  width: 100%;
}

.header-intro, .header-intro-optional, .header-intro-secondary {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header-intro-secondary {
  background-color: $color-font-secondary;
  min-height: 480px;
  background-attachment: unset;
  background-size: cover;
  background-position: center;

  h1 {
    margin-bottom: 24px;
    font-family: Volte-Semibold,sans-serif;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
  }
  p {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
  }
}

.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: opacity 1s ease;
}

section {
  position: relative;
  padding: 50px 0;
  background: $color-background-primary;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1280px;
  z-index: 1;

  h2 {
    text-align: center;
  }

  .tile-project-row {
    max-width: 100%;
    margin: 70px 0;
  }
}

button, input, select, textarea {
  font-family: "Volte Regular",sans-serif;
}

.section {
  h2 {
    margin-bottom: 35px;
    font-family: "Volte Medium", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -1.2px;
    color: $color-font-secondary;
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: $color-font-secondary;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
  }
}

.section-intro {
  p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    color: $color-font-secondary;
    text-align: left;
  }
}

.no-padd-top {
  padding-top: 0;
}

.option {
  background: $color-background-tertiary;
}

.tile-project-row {
  margin: 70px 0;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.badge-secondary {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 25px;
  height: 50px;
  border-radius: 25px;
  background-color: $color-button-secondary;
  font-family: "Volte Medium", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: $color-font-primary;
  text-align: center;
  text-decoration: none;
}

.tile-job-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 70px -15px;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
}

@media screen and (min-width: 1024px) {
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }

  .section-intro {
    h3 {
      font-size: 24px;
      line-height: 35px;
    }
    p {
      font-size: 20px;
      line-height: 35px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header-intro-secondary {
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 30px;
    }
  }

  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section {
    h2 {
      margin-bottom: 70px;
      font-size: 48px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .tile-job-row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-intro {
    h3 {
      margin-bottom: 40px;
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
  }
}
