@mixin linearShowUp($selector, $subSelector, $from: 1, $to: 3) {
  @for $i from $from through $to {
    #{$selector}:nth-child(n + #{$i}) #{$subSelector} {
      -webkit-transform: translateY($i * 50px);
      transform: translateY($i * 50px);
      opacity: 0;
    }
  }
}

@mixin sidesToMiddleShowUp($selector, $from: 1, $to: 5, $subSelector: '') {
  $step: 1;
  $factor: 1;
  $currentFirstElementIndex: $from;
  $currentLastElementIndex: $to;

  @while($currentFirstElementIndex < $currentLastElementIndex) {
    #{$selector}:nth-child(#{$currentFirstElementIndex}) {
      -webkit-transform: translateY($factor * 50px);
      transform: translateY($factor * 50px);
      opacity: 0;
    }
    #{$selector}:nth-child(#{$currentLastElementIndex}) {
      -webkit-transform: translateY($factor * 50px);
      transform: translateY($factor * 50px);
      opacity: 0;
    }
    $factor: $factor + $step;
    $currentFirstElementIndex: $currentFirstElementIndex + $step;
    $currentLastElementIndex: $currentLastElementIndex - $step;
  }
  #{$selector}:nth-child(#{$currentFirstElementIndex}) {
    -webkit-transform: translateY($factor * 50px);
    transform: translateY($factor * 50px);
    opacity: 0;
  }
}
