@import 'core';
@import 'components/navbar';
@import 'containers/home';

@font-face {
  font-family: 'speednet';
  font-style: normal;
  font-weight: normal;
  src: local('speednet'), url('../assets/fonts/speednet.ttf') format('truetype');
}

@font-face {
  font-family: 'Volte Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Regular Italic'), url('../assets/fonts/Volte Regular Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Regular'), url('../assets/fonts/Volte.woff') format('woff');
}


@font-face {
  font-family: 'Volte Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Light Italic'), url('../assets/fonts/Volte Light Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Light';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Light'), url('../assets/fonts/Volte Light.woff') format('woff');
}


@font-face {
  font-family: 'Volte Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Medium Italic'), url('../assets/fonts/Volte Medium Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Medium'), url('../assets/fonts/Volte Medium.woff') format('woff');
}


@font-face {
  font-family: 'Volte Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Semibold Italic'), url('../assets/fonts/Volte Semibold Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte-Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Semibold'), url('../assets/fonts/Volte Semibold.woff') format('woff');
}


@font-face {
  font-family: 'Volte Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Bold Italic'), url('../assets/fonts/Volte Bold Italic.woff') format('woff');
}


@font-face {
  font-family: 'Volte Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Bold'), url('../assets/fonts/Volte Bold.woff') format('woff');
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  h1 {
    font-family: Volte-Semibold, sans-serif;
    font-size: 60px;
    font-weight: 400;
  }
  h2 {
    font-family: "Volte Regular", sans-serif;
    font-size: 48px;
  }
  h3 {
    font-family: "Volte Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
  p {
    font-family: "Volte Regular", sans-serif;
    font-size: 30px;
  }
  a {
    text-decoration: none !important;
  }
  img {
    border-style: none;
  }
  section {
    position: relative;
    padding: 50px 0;
    background: $color-background-primary;
  }
  .container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1280px;
    z-index: 1;

    h2, p {
      text-align: center;
    }
    p {
      font-size: 20px;
    }

    .tile-project-row {
      max-width: 100%;
      margin: 70px 0;
    }
  }
  .section {
    h2 {
      margin-bottom: 35px;
      font-family: "Volte Medium",sans-serif;
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: -1.2px;
      color: $color-font-secondary;
      text-align: center;
    }
    p {
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: -.5px;
      color: $color-font-secondary;
      text-align: center;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
  .tile-project-row {
    margin: 70px 0;
  }
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    //-webkit-justify-content: flex-start;
    //-ms-flex-pack: start;
    justify-content: flex-start;
    //-webkit-align-content: flex-start;
    align-content: flex-start;
    //-webkit-align-items: stretch;
    //-ms-flex-align: stretch;
    align-items: stretch;
    //-webkit-flex-wrap: wrap;
    //-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section {
    h2 {
      margin-bottom: 70px;
      font-size: 48px;
    }
    p {
      font-size: 20px;
    }
  }
}
